.mainTemp {
    margin-top: 0.15em;
    margin-bottom: 18px;
    font-size: 3.4em;
}

.details {
    padding-top: 0.2em;
}

.mainIcon {
    padding-top: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}